<li id="bookmark-<%= bookmark.id%>">
	<%= link_to h(bookmark.title), h(bookmark.url)%>
	(<%= link_to "Details", bookmark_path(bookmark.id)%> 
	<%if admin?%>
	|<%= link_to "ändern", edit_bookmark_path(bookmark.id)%> | <%= link_to "löschen", bookmark_path(bookmark), :method => :delete, :confirm => "Wollen Sie diesen Datensatz wirklich löschen?"%>
	<%end%>)	
</li>