<h2>Detail zu Favorit</h2>

<p>Titel: <%= h @bookmark.title%></p>

<p>URL: <%= h @bookmark.url%></p>

<p>Kommentar: <%= h @bookmark.comment%></p>

<p>Erstellt am: <%= german_time(@bookmark.created_at)%></p>

<p>Geändert am: <%= german_time(@bookmark.updated_at)%></p>

<p><%= back_to_list%></p>